/* 日历页面 */
.wh_container{
	max-width: none!important;
}
.wh_content_all{
	background: #fff!important;
	padding-bottom: 0!important;
}
.wh_top_changge{
	width: 100%;
	height: 1.28rem;
	line-height: 1.28rem;
	background: url(../images/public/set.png) no-repeat left top;
	background-size: 100%;
	text-align: center;
}
.wh_top_changge li{
	height: 1.28rem!important;
	display: none!important;
}
.wh_top_changge .wh_content_li{
	display: block!important;
	width: 60%;
	margin:0 auto;
	flex: none!important;
}
.wh_content_item{
	color: #333!important;
	font-size: .26rem!important;
	width: 1.02rem!important;
	height: 1.2rem!important;
}
.wh_content:nth-child(1) .wh_content_item{
	color: #666!important;
	font-size: .18rem!important;
}
.wh_content_item .wh_isToday{
	width: 1.02rem;
	height: 1rem;
	background: #20a3e0!important;
	border-radius: .06rem!important;
	color: #fff;
}
.wh_content_item .wh_chose_day{
	width: 1.02rem;
	height: 1rem;
	background: #e6e6e6!important;
	border-radius: .06rem!important;
}
.wh_item_date{
	width: 1.02rem!important;
    height: 1.2rem!important;
    line-height: 30px!important;
	align-items: stretch!important;
}
/* 首页日历弹框页面 */
.v-modal{
	 opacity: 0.1;
 }
 .picker-slot{
	 font-size: .24rem;
 }
 .mint-datetime-action{
	 font-size: .3rem;
 }