.note{
	height: 100%;
}
.note .top{
	width: 100%;
	height: 1.28rem;
	background: url(../images/public/set.png) no-repeat left top;
	background-size: 100%;
	display: flex;
	padding: 0 .2rem;
	box-sizing: border-box;
	color: #fff;
}
.note .top .back{
	flex: 1;
	font-size: .46rem;
	padding-top: .5rem;
}
.note .top .back i{
	font-size: .5rem;
}
.note .top .income_expend{
	flex: 2;
	text-align: center;
	font-size: .3rem;
	padding-top: .6rem;
	position: relative;
}
.note .top .income_expend a{
	color: #fff; 
}
.note .top .income_expend a:first-child{
	margin-right: .6rem;
}
.note .top .income_expend span{
	display: inline-block;
	width: 1.13rem;
	height: .05rem;
	background: #f2f2f5;
	border-radius: .01rem;
	position: absolute;
	left: .6rem;
	bottom: 0;
}
.note .top .income_expend span.active{
	left: 1.8rem;
}
.note .top .cancel{
	flex: 1;
	font-size: .3rem;
	text-align: right;
	padding-top: .6rem;
}